.timer-container {
    background: #bee2b1;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 24px 30px 0px rgba(0, 0, 0, 0.28);
    margin-bottom: 1em;

}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 2em;
    gap: 11px;
    width: 100%;
}

.countdown span {
    font-size: 30px;
    font-weight: 100;
    text-align: center
}

.timer-container h3 {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    line-height: 45px;
    padding: 10px 20px;
    opacity: 0.6;
}

@media screen and (max-width: 367px) {
    .countdown {
        gap: 7px;
    }

    .countdown span {
        font-size: 20px;
        font-weight: 100;
        text-align: center;
    }
}