.contact__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* first section*/

.contact__first-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(9, 174, 41, 0.55);
}

.navbar__contact-container {
    display: flex;
    justify-content: space-between;
}

.contact__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__heading>h2 {
    font-family: var(--font-familly);
    font-weight: 700;
    font-size: 58.1911px;
    line-height: 97px;
    text-align: center;
    text-transform: uppercase;

    color: #FFF7F7;
}



/* contact fieldset section */

.contact__second-section {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F5E6E6;
}


.contact-body {
    padding: 60px;
    border-radius: 5%;
    width: 50%;
    background-color: #d4e2b3;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

form {
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    border-radius: 3%;
    border: 5px double rgb(137, 146, 67);
    padding: 8px;
    margin-bottom: 10px;
}

#contact_button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    height: 50px;
    width: 300px;


    color: #fff;
    background: #54D068;
    border-radius: 29.4307px;
}

#contact_button:hover {
    background-color: #006400;
}

/* media queries */
@media (max-width: 1415px) {
    .contact-body {
        /* flex-wrap: wrap; */
    }
}

@media (max-width: 900px) {
    .form-row {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .form-row {
        gap: 10px;
    }
}