.contact__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgba(9, 174, 41, 0.55);
}

/* first section*/

.contact__first-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #536451
}

.navbar__contact-container {
    display: flex;
    justify-content: space-between;
}

.contact__heading {
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;
}


.contact_us {
    font-family: var(--font-familly);
    font-weight: 700;
    font-size: 58.1911px;
    line-height: 97px;
    text-align: center;
    text-transform: uppercase;

    color: #FFF7F7;

}



/* contact fieldset section */

.contact__second-section {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 24px 30px 0px rgba(0,0,0,0.14);
}

#panier {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


.contact-body {
    overflow: hidden;
    border-radius: 5%;

    width: 63%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #d4e2b3;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

form {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    width: 100%;
    border: 5px double rgb(151, 161, 79);
    padding: 8px;
    margin-bottom: 10px;
}

#contact_button {
    border: none;
    cursor: pointer;

    margin: 1rem 0;
    height: 50px;


    color: #fff;
    background: #54D068;
    border-radius: 29.4307px;
}

#contact_button:hover {
    background-color: #2ac02a;
}

.success > p {
    font-weight: 300;
    font-size: large;
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #fff;
    height: 40px;
    text-align: center;
    background-color: #54D068;
    border-radius: 15px;
    margin: 90px 0;
}

/* media queries */

@media screen and (max-width: 1000px) {
    .contact_us {
        font-size: 40px;
    }

    .contact-body {
        width: 90%;
    }

    .contact__second-section {
        height: auto;
    }
}


@media screen and (max-width: 650px) {
    .contact_us {
        font-size: 34px;
        line-height: normal;
    }

    .contact-body {
        width: 100%;
        border-radius: 0;
    }

    .contact__second-section {
        height: auto;
        padding: 0;
    }

    #contact_button {
        margin-left: 2rem;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .contact_us {
        font-size: 27px;
        line-height: normal;
    }
}