.product-page-header-container {
    background-color:  #848171;
}

.nos-produit-hero_image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nos-produit-hero_image .nos-produit-image {
    align-self: flex-end;
    justify-self: center;
    width: 400px;
    height: 300px;
}

@media screen and (max-width: 500px) {
    .nos-produit-hero_image .nos-produit-image {
        height: 250px;
        width: 300px;
    }
}


.navbar__potato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75%;
}

.navbar__potato>img {
    align-self: flex-end;
}

@media screen and (max-width: 890px) {
    .navbar__potato>img {
        width: 500px;
        height: 220px;
    }
}

.nos_produit {
    color: #FFF6F6;
    font-size: 3rem;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .nos_produit {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .arrow {
        align-self: center;
    }

    .navbar__potato {
        justify-content: space-evenly;
        align-items: center;
    }


    .navbar__potato>img {
        width: 400px;
        height: auto;
    }

    .nos_produit {
        position: relative;
        top: 5rem;
    }
}