.about__container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 50px;
    background-color: #D9EAD3;
    box-shadow: 0px 24px 30px 0px rgba(0,0,0,0.28);
}

.third__left-section,
.third__right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
}


.third__right-section {
    width: 100%;
    align-items: center;
}

.third__left-section > h3 {
    font-family: var(--gradient-font);
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    text-transform: capitalize;

    margin-bottom: 30px;
    color: #1D1B1B;
}

.third__left-section > p {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;

    color: #5A636C;
    margin-bottom: 30px;
}

.third__right-section > img {
    width: 100%;
    height: auto;
    max-width: 35rem;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1050px) {
  .about__container {
    flex-direction: column-reverse;
    padding: 25px;
  }

  .third__left-section {
    padding: 1rem;
  }

  .third__right-section {
    padding: 1rem 0 1rem 0;
  }

  .third__left-section > h3 {
    font-size: 1.875rem;
    line-height: 2rem;
    margin-bottom: 1.25rem;
  }

  .third__left-section > p {
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin-bottom: 1rem;
  }

  .third__right-section > img {
    max-height: 31.25rem;
    height: 24.5rem;
    width: 25rem; 
  }
}

@media screen and (max-width: 550px) {
  .about__container {
    padding: 0;
  }
  
  .third__right-section > img {
    max-height: 25rem;
    height: 18.75rem;
    width: 18.75rem;
  }

  .third__left-section > h3 {
    font-weight: 400;
  }
}


@media screen and (max-width: 360px) {
  .about__container {
    padding: 0;
  }
  
  .third__right-section > img {
    max-height: 25rem;
    height: 15.75rem;
    width: 15.75rem; 
  }

.third__left-section {
  padding-right: 3px;
}

  .third__right-section {
    padding: 0;
  }
}