.product__container {
    background-color: #2C7566;
    width: 100vw;
    height: 458px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar__potato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75%;
}

.navbar__potato>img {
    align-self: flex-end;
}

@media screen and (max-width: 890px) {
    .navbar__potato>img {
        height: 285px;
    }
}

.navbar__maticha>img {
    width: 500px;
    height: auto;
    /* align-self: center; */
}


@media screen and (max-width: 500px) {
    .navbar__potato>img {
        width: 413px;
    }

    .arrow {
        align-self: center;
    }

    .navbar__potato {
        justify-content: space-evenly;
        align-items: center;
    }


    .navbar__potato > img {
        width: 500px;
        height: auto;
    }

    .duBio {
        position: relative;
        top: 5rem;
    }
}