.product__container {
    background-color: #2C7566;
    width: 100vw;
    height: 458px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar__potato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75%;
}

.navbar__potato>img {
    align-self: flex-end;
}

@media screen and (max-width: 890px) {
    .navbar__potato>img {
        width: 500px;
        height: 220px;
    }
}

.nos_produit {
    color: #FFF6F6;
    font-size: 3rem;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .nos_produit {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .arrow {
        align-self: center;
    }

    .navbar__potato {
        justify-content: space-evenly;
        align-items: center;
    }


    .navbar__potato>img {
        width: 400px;
        height: auto;
    }

    .nos_produit {
        position: relative;
        top: 5rem;
    }
}