.offers__container {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: #e5edc2;
    padding: 100px;
}

.carouselSlide__container {
    width: 50dvw;
}

.item {
    width: 100%;
    height: auto;

}

#item > img {
    width: 300px;
}

.carousel .slider-wrapper {
    width: 50%;
    height: 500px;
}

.carousel .slide .legend {
    bottom: 0 !important;
}

.carousel .thumb {
    width: 5%;
    height: 60px;
}

.carousel {
    text-align: center;
}

.carousel-status {
    display: none;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    background-color: rgba(126, 107, 107, 0.447) !important;
}

.carousel .slide .legend {
    background-color: #274323  !important;
}
