.offers__container {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 100px;
    background-color: #f3f1ef;

}

.carouselSlide__container {
    width: 50dvw;
}

#item {
    padding-top: 40px;
}

#item>img {
    width: 300px;
    border-radius: 10%;
    box-shadow: 6px 4px 42px -3px rgba(0, 0, 0, 0.75);
}

.carousel .slider-wrapper {
    width: 50%;
    height: 500px;
}

.carousel .slide .legend {
    bottom: 0 !important;
    top: 2rem !important;
    position: relative !important;

}

.carousel .thumb {
    width: 5%;
    height: 60px;
}

.carousel {
    text-align: center;
}

.carousel-status,
.control-dots {
    display: none;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
    background-color: rgba(126, 107, 107, 0.447) !important;
}

.carousel .slide .legend {
    background-color: #274323 !important;
}

@media screen and (max-width: 930px) {
    .offers__container {
        flex-direction: column;
        padding: 50px;
    }

    .carouselSlide__container {
        width: 80dvw;
    }
}

@media screen and (max-width: 600px) {

    .offers__container {
        padding: 20px 0;
    }

    .carouselSlide__container {
        width: 100dvw;
    }

    .description-section {
        padding: 20px;
    }
}