.container-huile-poulet-oeuf {
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

.oeuf-container,
.huile-container,
.panier-container {
    background-color: #f3f1ef;
    width: 100%;
    display: flex;
    padding: 3rem 5rem;
}

.huile-container {
    background: #D9EAD3;
}

.oeuf__picture-container,
.huile__picture-container,
.panier__picture-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oeuf-description,
.huile-description,
.panier-description {
    flex: 1;
}

.huile-description p,
.oeuf-description p,
.panier-description p {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: #5A636C;
    padding: 20px 0;
    padding-bottom: 17px;
}

.oeuf-description h1,
.huile-description h1,
.panier-description h1 {
    font-family: var(--gradient-font);
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #212529;
}

.panier__picture-container img,
.oeuf__picture-container img,
.huile__picture-container img {
    width: 85%;
    border-radius: 20px;
    border: 5px solid white;
}

.panier__picture-container,
.oeuf__picture-container,
.huile__picture-container {
    justify-content: center;
    align-items: center;
}

.oeuf-container {
    flex-direction: row-reverse;
}

.trouver-nous {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.trouver-nous p {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    color: #5A636C;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 10px;
}

.trouver-nous p:last-child {
    padding: 0;
}

@media screen and (max-width: 1200px) {

    .oeuf-container,
    .huile-container,
    .panier-container {
        flex-direction: column;
        padding: auto 4rem;
    }

    .huile-container,
    .oeuf-container {
        flex-direction: column-reverse;

    }

    .huile__picture-container img,
    .oeuf__picture-container img,
    .panier__picture-container img {
        max-height: 700px;
    }
}

@media screen and (max-width: 716px) {

}

@media screen and (max-width: 700px) {

    .oeuf-container,
    .huile-container,
    .panier-container {
        padding:2rem;
    }

    .trouver-nous h1 {
        font-size: 25px;
    }

    .oeuf-description p,
    .huile-description p,
    .panier-description p {
        font-size: 17px
    }

    .oeuf-description h1 .huile-description h1,
    .panier-description h1 {
        font-size: 25px;
    }
}