.map-container {
	width: 100%;
	height: 15%;
	border: 20px groove rgba(255, 165, 80, 0.42);
}

@media screen and (max-width: 900px) {
	.map-container {
		width: 100%;
		border: 20px groove rgba(255, 165, 80, 0.42);
	}
}